<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeBlue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeBlue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,76},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeBlue3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,151},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeGreen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,226},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeGreen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,301},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeGreen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,376},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeRed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,451},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeRed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,526},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeRed3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,601},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeYellow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,676},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeYellow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,751},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeYellow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,73}</string>
                <key>textureRect</key>
                <string>{{1,826},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{90,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b13da75c71132fd89c5089f81b892ae:f554458c79da0bc2b857acfc1d98daa9:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
